body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: left;
}

main {
    max-width: 480px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

.contents {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
}

.errorMessagePanel {
    display: flex;
    justify-content: center;
    align-items: center;
    size: 15px;
    font-weight: bold;
    color: red;
    text-align: center;
}

.inputAccountInfoPanel {
    height: max-content;
    width: 20rem;
    display: block;
    padding: 10px;
}

.typeAccountPanel {
    height: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.radioItem {
    height: inherit;
    width: 40%;
    padding-left: 2px;
}

input[type="radio"] {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.lblRadType {
    font-size: 18px;
    color: #000000;
    text-align: center;
}

.commonInputArea {
    height: max-content;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.technicianInputArea {
    height: max-content;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
}

.tblInput {
    height: 15rem;
    width: inherit;
    border-spacing: 5px;
}

.tdInputTitle {
    height: 5rem;
    width: 30%;
    padding: 1px;
    font-size: 18px;
    color:#000000;
}

.tdInput {
    height: 5rem;
    width: 70%;
}

.inputInfo {
    height: 42%;
    width: 95%;
}

.inputLong {
    height: 4rem !important;
}

.selServiceField {
    height: 2rem;
    width: 100%;
    margin-bottom: 6px;
}

#trForTechnicianDes, #trForTechnicianService {
    display: none;
}

.createButtonPanel {
    height: 3rem;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnCreateAccount {
    height: 80%;
    width: 50%;
    font-size: 20px;
    color: #000000;
    text-align: center;
    background-color: lightgray;
    border-radius: 1rem;
}

.loginAnckerPanel {
    text-align: center;
    font-size: 22px;
    margin-top: 1rem;
}

footer {
    flex-basis: 10%;
    background-color: yellow;
}

