body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h2 {
    margin: 0 0 20px;
    text-align: left;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="file"] {
    margin-bottom: 20px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

#img1{
    max-width: 50px;
    max-height: 50px;
}

header{
    background-color: lightblue;
    text-align: center;
    padding: 30px 0;
    max-width: 440px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-right: 60px; /* Add margin-right for spacing */
    margin-left: 60px;
}

.time-block{
    box-shadow: rgba(34, 30, 24, 0.2) 0px 2px 5px;
    padding: 20px;
    border-radius: 5px;
}
button, a.link{
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: large;
    text-decoration: none;
}
.button-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    margin: 5% 0;
}
a.link.cancel{
    background-color: orangered;
}
a.remove{
    padding:20px;
}
.time-block-link{
    text-decoration: none;
    color: black;
}
.time-block-link :hover{
    background: #aaaaaa;
}