header{
    height: 15%;
    width: 100%;
    background-color: #ADD8E6;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding: 20px;
}