<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/history.css}"/>
    <title>Complete</title>
    <style>

        h1 {
            text-align: center;
        }

        .login-body{
            text-align: center;
        }

        .label1{
            text-decoration: underline;
        }
    </style>
</head>
<body>
<header>
    <div class="logo">
        <img id="img1" src="images/logo.jpg" alt="Logo">
    </div>
    <h1>Complete</h1>
</header>
<main>
    <div class="appointment-list">
        <div class="container mt-2 pre-scrollable">
            <div class="card-header"></div>
            <div class="login-body">
                <br/><br/>
                <h2>Payment Successful</h2>
                <img src="images/completeicon.png" alt="" width="100" height="100"/><br/><br/><br/>
                <form method="get" th:action="@{index}"><label class="label1">Amount of payment</label><br/><p>$35</p></form>
                <br/><br/>
                <button onclick="window.location.href='/mainLogin.html'" class="btn-primary">Back to MAIN</button><br/><br/>
            </div>
        </div>

        <!-- Add more appointment items here as needed -->
    </div>

</main>
</body>
</html>