<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/history.css}"/>
    <title>History</title>
</head>
<body>
<header>
    <div class="logo">
        <img id="img1" src="image/logo.jpg" alt="Logo">
    </div>
    <h1>History</h1>
</header>
<main>
    <div class="appointment-list">
        <div th:each="technician:${listTechnicians}" class="appointment-item">
            <div class="appointment-details">
                <p th:text="${'No.' + technician.id}"></p>
                <p th:text="${'FirstName' + technician.firstName}"></p>
                <p th:text="${'LastName' + technician.lastName}"></p>
                <p th:text="${'Phone' + technician.phone}"></p>
                <p th:text="${'Email' + technician.email}"></p>
                <p th:text="${'Address' + technician.address}"></p>
                <p th:text="${'Experience' + technician.experience}"></p>
            </div>
        </div>

        <div class="appointment-item">
            <div class="appointment-details">
                <p>No.2</p>
                <p>Date: 02/12/2023</p>
                <p>Service: Unclog</p>
                <p>Actual Time: 27 Mins</p>
                <p>Customer Name: Andy</p>
                <p>Star Rating: 5</p>
            </div>
        </div>

        <!-- Add more appointment items here as needed -->
    </div>
    <a th:href="@{/index}">
        <button type="button">Back</button></a>
</main>
</body>
</html>