<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/style/technician/history.css}"/>
  <style>
    h1 {
      text-align: center;
    }

    .login-body {
      text-align: center;
      margin-top: 50px; /* Adjust the margin-top value to center vertically */
    }
  </style>
  <title>Main Temporary</title>
</head>
<body>
<header>
  <div class="logo">
    <img id="img1" src="images/logo.jpg" alt="Logo">
  </div>
  <h1>TechAssist</h1>
</header>
<main>
  <div class="appointment-list">
    <div class="container mt-2 pre-scrollable">
      <div class="card-header"></div>
      <div class="login-body">
        <br/><br/>
       <!-- <a th:href="@{/main.html}">Go to tech main</a><br/><br/><br/><br/>  -->
        <h2>Please Login / Create account!</h2>
        <a th:href="@{/templates/user/login.html}">Go to Login</a><br/><br/>
        <a th:href="@{/templates/user/register.html}">Go to Create account</a><br/><br/>
        <!--<a th:href="@{/technicianInfo.html}">Go to see Tech Info</a><br/><br/>  -->
      </div>
    </div>

    <!-- Add more appointment items here as needed -->
  </div>

</main>
</body>
</html>