<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/techProfile.css}"/>
    <title>TechnicianProfile</title>
</head>

<body>
<header>
    <div class="logo">
        <img id="img1" src="images/logo.jpg" alt="Logo">
    </div>
    <h1>Technician Profile</h1>
</header>
<main>
    <div class="container">
        <form method="post" th:action="@{/save}" th:object="${user}" onsubmit="return confirmSave()">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="firstName" th:value="${user.name}" required>
            </div>

            <div class="form-group">
                <label for="email">Username:</label>
                <input type="email" id="email" name="email" th:value="${user.username}" required>
            </div>

            <div class="form-group">
                <label for="job_description">Job Description:</label>
                <input type="text" id="job_description" name="job_description" th:value="${user.technician.getJob_description()}" required>
            </div>

            <div class="form-group">
                <table th:each="e:${user.technician.experiences}">
                    <tr><td colspan="3" th:text="${e.getExperience_description()}"></td></tr>
                    <tr><td th:text="'From:'+${e.getStart_year()}"></td><td th:text="'Years:'+${e.getYear()}"></td><td><button>Edit</button></td></tr>
                </table>
                <div><button>Add</button></div>
            </div>

            <div class="form-group">
                <div th:each="c:${user.technician.certificates}">
                    <label th:text="${c.getCertificate_url()}"></label>
                    <button>Edit</button>
                </div>
<!--                <label for="certification">Upload Certification:</label>-->
<!--                <input type="file" id="certification" name="certification" accept=".pdf, .jpg, .png">-->
            </div>

            <div class="form-group">
                <label for="picture">Upload Technician's Image:</label>
                <input type="file" id="picture" name="picture" accept=".jpg, .png" th:value="${user.technician.getImage_url()}" >
            </div>

            <div class="form-group">
                <label for="rate">Rate:</label>
                <input type="number" id="rate" name="rate" th:value="${user.technician.getRate()}" required>
                <span class="currency-symbol">CAD</span>
            </div>

            <a th:href="@{/index}">
                <button type="button">Back</button></a>
                <button type="submit">Save</button>
        </form>

        <div th:if="${duplicateError}" class="error-message">
            <p th:text="${duplicateError}"></p>
        </div>
        <div th:if="${successMessage}" class="success-message">
            <p th:text="${successMessage}"></p>
        </div>

    </div>
</main>
</body>
<script>
    function confirmSave() {
        return confirm("Are you sure you want to save?");
    }
</script>
</html>