<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/techProfile.css}"/>
    <title>TechnicianProfile</title>
</head>

<body>
<header>
    <div class="logo">
        <img id="img1" src="images/logo.jpg" alt="Logo">
    </div>
    <h1>Technician Profile</h1>
</header>
<main>
    <div class="container">
        <form method="post" th:action="@{/save}" th:object="${technician}" onsubmit="return confirmSave()">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required>
            </div>

            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required>
            </div>

            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="tel" id="phone" name="phone" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="address">Address:</label>
                <textarea id="address" name="address" rows="4" required></textarea>
            </div>

            <div class="form-group">
                <label for="experience">Work Experience:</label>
                <textarea id="experience" name="experience" rows="4" required></textarea>
            </div>

            <div class="form-group">
                <label for="certification">Upload Certification:</label>
                <input type="file" id="certification" name="certification" accept=".pdf, .jpg, .png">
            </div>

            <div class="form-group">
                <label for="picture">Upload Technician's Image:</label>
                <input type="file" id="picture" name="picture" accept=".jpg, .png">
            </div>

            <a th:href="@{/index}">
                <button type="button">Back</button></a>
                <button type="submit">Save</button>
        </form>

        <div th:if="${duplicateError}" class="error-message">
            <p th:text="${duplicateError}"></p>
        </div>
        <div th:if="${successMessage}" class="success-message">
            <p th:text="${successMessage}"></p>
        </div>

    </div>
</main>
</body>
<script>
    function confirmSave() {
        return confirm("Are you sure you want to save?");
    }
</script>
</html>