<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/style/user/userLayout.css}">
    <title>tech assist</title>
</head>
<body>
<header>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{login}">
            <img th:src="@{/images/logo.jpg}" alt="" width="70" height="70"/>
        </a>
        <div class="title">
            <label class="lblTitle">Tech Assist</label>
        </div>

    </div>
</nav>
</header>
<section layout:fragment="content"></section>
</body>
</html>