<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="clientLayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/technician/technicianProfile.css}"/>
    <title>Technician Profile</title>
</head>

<body>
<section layout:fragment="content">
    <main>
        <a th:href="@{/technicianInfo}">
            <button type="button">Select a technician</button>
        </a>
    </main>
</section>
</body>
</html>