<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="clientLayout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/style/client/clientHome.css}"/>
  <title>Technician Home Page</title>
</head>
<body>
<section layout:fragment="content">
  <main>
    <ul class="image-list">
      <li>
        <a th:href="@{/findTechnician}">
          <img id="img2" src="images/technician_profile.png" alt="Technician Profile">
          <p>Find Technician</p>
        </a>
      </li>
      <li>
        <a th:href="@{clientAppointment}">
          <img id="img4" src="images/viewAppointment.jpg" alt="View Appointment">
          <p>View Appointment</p>
        </a>
      </li>
    </ul>
  </main>
</section>
</body>
</html>