<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="clientLayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/client/clientHome.css}"/>
    <link rel="stylesheet" href="../../static/style/client/clientHome.css">
    <title>Client Home</title>
</head>

<body>
<section layout:fragment="content">
    <div class="contents">
        <div class="customerNameBar">
            <label class="lblCustomerName" th:text="${userName}"></label>
        </div>
        <div class="appointmentBar" id="idAppointmentBar">
            <label class="lblAppointmentStart" id="lblAppointmentStart"></label>
            <form class="formStartCall" th:action="@{/transitionCall}" th:method="GET">
                <input type="hidden" id="hidAppointmentStart" th:value="${appointmentDate}"/>
                <input type="hidden"  name="callId" id="hidCallId" th:value="${callId}" />
                <button type="submit" value="Submit" class="btnStartCall">Start Call</button>
            </form>
        </div>
        <div class="applicationPanel">
            <div class="categoryBar">
                <button type="button" class="btnCategoryPanel" id="btnCategoryPanel" th:onclick="showCategoryPanel()">
                    <label class="lblCategory">Category</label>
                    <label class="lblSelectedCategory" id="lblSelectedCategory" th:text="${selectedServiceField}"></label>
                </button>
            </div>
            <div class="categoryPanel" id="categoryPanel">
                <div class="itemsCategory" th:each="serviceFieldItem:${serviceFieldList}">
                    <a type="button" class="btnCategory" id="btnCategory" th:href="@{/getTechnician(serviceFieldId=${serviceFieldItem.id},serviceFieldName=${serviceFieldItem.field})}"
                       th:text="${serviceFieldItem.field}"></a>
                </div>
            </div>
            <div class="technicianBar">
                <label class="lblTechnician">Technician</label>
            </div>
            <div class="technicianPanel" id="technicianPanel">
                <div class="technicianSort">
                    <form th:action="@{/sortTechnician}" th:method="GET" class="formSort">
                        <div class="sortItems">
                            <div class="sortDate">
                                <input type="text" id="datepicker" name="selectedDate" placeholder="Please select date">
                            </div>
                            <div class="sortTimeslot">
                                <select name="selectedTimeslot" class="selTimeslot">
                                    <option value="" disabled selected hidden>TimeSlot</option>
                                    <option th:each="timeSlot:${timeSlotList}" th:value="${timeSlot.id}" th:text="${timeSlot.duration}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="sortButtons">
                            <button type="submit" value="Submit" class="btnSort">Sort</button>
                            <button type="reset" value="Reset" class="btnSortReset">Reset</button>
                        </div>
                    </form>
                </div>
                <div class="itemsTechnician" th:each="technicianItem:${technicianList}">
                    <a type="button"  class="btnTechnician" th:href="@{/moveToTechnicianInfo(technicianId=${technicianItem.id})}">
                        <div class="technicianIcon">
                            <img src="img/icon.png" class="imgIcon" alt="test image">
                        </div>
                        <div class="technicianNameAndScore">
                            <label class="lblTechnicianInfo" th:text="${technicianItem.name}">Technician name</label>
                            <label class="lblTechnicianInfo" th:text="${technicianItem.rate}">Review</label>
                        </div>
                        <div class="availableTime">
                            <label class="lblTechnicianInfo">Available Time</label>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/jquery-ui.js"></script>
    <script src="/clientHome.js"></script>
    <script>
        $(function() {
            $( "#datepicker" ).datepicker();
        });
    </script>
</section>
</body>
</html>