<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="clientLayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/client/technicianInfo.css}"/>
    <title>Technician Info</title>
</head>
<body>
<section layout:fragment="content">
    <main>
        <h1>Technician Info</h1>
        <div class="container">
            <div class="form-group">
                <img th:if="${technician.getImage_url()}" th:src="'/images/user/'+${technician.getImage_url()}"
                     width="100" height="100" alt="Technician's Image">
                <img th:unless="${technician.getImage_url()}" src="/images/user/default.jpg" width="100"
                     height="100" alt="Default Image">
            </div>
            <div class="form-group text-block">
                <label for="field">Field:</label>
                <span id="field" th:text="${technician.getServiceField().getField()}"></span>
            </div>
            <div class="form-group text-block">
                <label for="name">Name:</label>
                <span id="name" th:text="${technician.user.getName()}"></span>
            </div>
            <div class="form-group text-block">
                <label for="job_description">Job Description:</label>
                <span id="job_description" th:text="${technician.getJob_description()}"></span>
            </div>
            <div class="form-group text-block">
                <label for="rate">Rate:</label>
                <span id="rate" th:text="${technician.getRate()}"></span>
                <span class="currency-symbol">CAD</span>
            </div>
            <div class="text-block">
                <div class="experience-block">
                    <label class="experience-header">Experiences</label>
                </div>
                <div th:each="e:${technician.experiences}" class="text-block">
                    <div>
                        <div class="experience-title">
                            <span th:text="${e.title}"></span>
                        </div>
                        <div>
                            <span th:text="${e.getStart_year()}+'~'+${e.getStart_year()+e.getYear()}"></span>
                        </div>
                        <div>
                            <span th:text="${e.getDescription()}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <a class="link cancel" th:href="${previousPageUrl}">
                    Back
                </a>
                <a class="link" th:href="@{'/technicianAvailableTime'}">
                    Available Time
                </a>
            </div>
        </div>

    </main>
</section>
</body>
</html>