
.btn-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 50%;
  border: none;
  line-height: 1.3px;
}

.bi {
  font-size: 50px;
  color: white;
}

.enabled-style {
  background-color: #008cff;
}


.disabled-style {
  background-color: #ff3030;
}

header{
  height: 15%;
  width: 100%;
  background-color: #ADD8E6;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 20px;
}