<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="technicianLayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/technician/accountBalance.css}"/>
    <title>Account Balance</title>
</head>
<body>
<section layout:fragment="content">
    <main>
        <h1>Account Balance</h1>
        <div class="appointment" th:object="${accountBalance}">
            <div class="appointment-list" th:if="${accountBalance.callDTOList.size() > 0}">
                <div class="appointment-item" th:each="call:${accountBalance.callDTOList}">
                    <div class="appointment-details">
                        <p th:text="'Date:'+${call.date}"></p>
                        <p th:text="'Start time:'+${call.startTime}"></p>
                        <p th:text="'Duration:'+${call.duration}+' minutes'"></p>
                        <p th:text="'Customer Name:'+${call.customerName}"></p>
                        <p th:text="'Rating:'+${call.rating}"></p>
                        <p th:text="'Review:'+${call.review}"></p>
                        <p th:text="'Payment:'+${call.cost}"></p>
                    </div>
                </div>
            </div>
            <div th:unless="${accountBalance.callDTOList.size() > 0}">
                <p>No payment in this month.</p>
            </div>
            <hr/>
        </div>
        <h3>Summary</h3>
        <div class="summary">
            <p th:text="'Total in this month:'+${accountBalance.serviceFee}+' CAD'"></p>
        </div>
        <a th:href="@{/technicianHome}">
            <button type="button">Back</button>
        </a>
    </main>

</section>
</body>
</html>
