<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="technicianLayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/technician/availableTimeSetting.css}"/>
    <title>SettingTimeRate</title>
</head>
<body>
<section layout:fragment="content">
    <main>
        <div class="container">
            <h1>Available Time Setting</h1>
            <div>
                <div th:each="availableTimeDTO:${availableTimeDTOs}">
                    <div>
                        <div class="time-block">
                            <span th:text="${availableTimeDTO.Date}"></span>
                            <span th:text="${availableTimeDTO.StartTime}+'~'+${availableTimeDTO.EndTime}"></span>
                            <a class="remove"
                               th:href="@{'/availableTimeSetting/delete?id=' + ${availableTimeDTO.ID}}">
                                <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17" viewBox="0 0 448 512">
                                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                                    <style>svg {
                                        fill: #ff3030;
                                    }</style>
                                    <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="button-container">
                    <a class="link cancel" th:href="@{/technicianHome}">
                        Back
                    </a>
                    <a class="link" th:href="@{/availableTimeSetting/add}">
                        Add
                    </a>
                </div>
            </div>
            <div th:if="${successMessage}" class="success-message">
                <p th:text="${successMessage}"></p>
            </div>
        </div>
    </main>
</section>
</body>
<script>
    function confirmSave() {
        return confirm("Are you sure you want to save?");
    }
</script>
</html>