<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="technicianLayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/technician/availableTimeSetting.css}"/>
    <title>SettingTimeRate</title>
</head>
<body>
<section layout:fragment="content">
    <main>
        <h1>Available Time Setting</h1>
        <div class="container">
            <h2>Select Available Date & Time</h2>
            <form method="post" th:action="@{/saveTR}" th:object="${setTR}" onsubmit="return confirmSave()">
                <div class="form-group">
                    <label for="date">Select Date:</label>
                    <input type="date" id="date" name="date" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="time">Select Time:</label>
                    <input type="time" id="time" name="time" step="15"required>
                </div>
                <br>
                <h2>Service Charge</h2>
                <div class="form-group">
                    <label for="services">Select Service:</label>
                    <select id="services" name="services">
                        <option value="Emergency Plumbing">Emergency Plumbing</option>
                        <option value="Clogged Drains">Clogged Drains</option>
                        <option value="Installation, Update, Repair">Installation, Update, Repair</option>
                        <option value="Leaking Toilets, Faucet, Pipes">Leaking Toilets, Faucet, Pipes</option>
                        <option value="Commercial Plumbing">Commercial Plumbing</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="duration">Select Duration:</label>
                    <select id="duration" name="duration">
                        <option value="15">15 mins</option>
                        <option value="30">30 mins</option>
                        <option value="45">45 mins</option>
                        <option value="60">60 mins</option>
                    </select>
                </div>
                <br>
                <br><br><br>
                <a th:href="@{/technicianHome}">
                    <button type="button">Back</button>
                </a>
                <button type="submit">Save</button>
            </form>
            <div th:if="${successMessage}" class="success-message">
                <p th:text="${successMessage}"></p>
            </div>
        </div>
    </main>
</section>
</body>
<script>
    function confirmSave() {
        return confirm("Are you sure you want to save?");
    }
</script>
</html>