<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="technicianLayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/technician/history.css}"/>
    <title>History</title>
</head>
<body>
<section layout:fragment="content">
    <main>
        <h1>History</h1>
        <div class="appointment-list">
            <div class="appointment-list">
                <div class="appointment-item" th:each="history:${histories}">
                    <div class="appointment-details">
                        <p th:text="'Date:'+${history.date}"></p>
                        <p th:text="'Start time:'+${history.startTime}"></p>
                        <p th:text="'Duration:'+${history.duration}+' minutes'"></p>
                        <p th:text="'Customer Name:'+${history.customerName}"></p>
                        <p th:text="'Rating:'+${history.rating}"></p>
                        <p th:text="'Review:'+${history.review}"></p>
                    </div>
                </div>
            </div>
        </div>
        <a th:href="@{/technicianHome}">
            <button type="button">Back</button>
        </a>
    </main>
</section>
</body>
</html>