<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="technicianLayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/technician/technicianProfile.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Technician Profile</title>
</head>

<body>
<section layout:fragment="content">
    <main>
        <div class="container">
            <form method="post" th:action="@{/technicianProfile}" enctype="multipart/form-data" th:object="${user}"
                  onsubmit="return confirmSave()">
                <h1>Technician Profile</h1>
                <div class="form-group">
                    <img th:if="${user.technician.getImage_url()}" th:src="${user.technician.getImage_url()}"
                         width="100" height="100" alt="Technician's Image">
                    <img th:unless="${user.technician.getImage_url()}" src="/images/user/default.jpg" width="100"
                         height="100" alt="Default Image">
                    <input type="file" id="picture" name="picture" accept=".jpg, .png">
                </div>
                <div class="form-group">
                    <label for="dropdown">Field:</label>
                    <select id="dropdown" name="selectedField">
                        <option th:each="field:${serviceField}" th:value="${field.id}" th:text="${field.field}"
                                th:selected="${field.id eq user.technician.serviceField.id}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" th:value="${user.name}" required>
                </div>

                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="email" id="username" name="username" th:value="${user.username}" required>
                </div>

                <div class="form-group">
                    <label for="job_description">Job Description:</label>
                    <textarea id="job_description" name="job_description" rows="6"
                              th:text="${user.technician.getJob_description()}" required></textarea>
                </div>

                <div class="form-group">
                    <label for="rate">Rate:</label>
                    <input type="number" id="rate" name="rate" th:value="${user.technician.getRate()}" required>
                    <span class="currency-symbol">CAD</span>
                </div>

                <div>
                    <div class="experience-block">
                        <label class="experience-header">Experiences</label>
                        <a  class="link image" th:href="@{/technicianExperience/edit}">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                <style>svg {
                                    fill: #ffffff
                                }</style>
                                <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
                            </svg>
                        </a>
                    </div>
                    <div th:each="e:${user.technician.experiences}">
                        <div>
                            <div class="experience-title">
                                <span th:text="${e.title}"></span>
                                <a class="link image" th:href="@{'/technicianExperience/edit?id=' + ${e.getId()}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                        <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                        <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/>
                                    </svg>
                                </a>
                                <a class="link image delete" th:href="@{'/technicianExperience/delete?id=' + ${e.getId()}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17" viewBox="0 0 448 512">
                                        <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                                        <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                                    </svg>
                                </a>
                            </div>
                            <div>
                                <span th:text="${e.getStart_year()}+'~'+${e.getStart_year()+e.getYear()}"></span>
                            </div>
                            <div>
                                <span th:text="${e.getDescription()}"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="button-container">
                    <a class="link cancel" th:href="@{/technicianHome}">
                        Back
                    </a>
                    <button type="submit">Save</button>
                </div>
            </form>

            <div th:if="${duplicateError}" class="error-message">
                <p th:text="${duplicateError}"></p>
            </div>
            <div th:if="${successMessage}" class="success-message">
                <p th:text="${successMessage}"></p>
            </div>

        </div>
    </main>
</section>
</body>
<script>
    function confirmSave() {
        return confirm("Are you sure you want to save?");
    }
</script>
</html>