<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="technicianLayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/technician/viewAppointment.css}"/>
    <title>Upcoming Appointments</title>
</head>
<body>
<section layout:fragment="content">
    <main>
        <h1>View Appointments</h1>
        <div class="appointment-list">
            <div class="appointment-item">
                <div class="appointment-details">
                    <p>Date: 02/12/2023</p>
                    <p>Service Type: Drain</p>
                    <p>Service: P-trapes</p>
                    <p>Time: 3:00 - 4:00 pm</p>
                    <p>Service Length: 60 mins</p>
                    <p>Customer Name: John</p>
                </div>
                <img clsss="imgV" src="images/videoSymbol.png" alt="videoDisplay">
            </div>

            <div class="appointment-item">
                <div class="appointment-details">
                    <p>Date: 02/12/2023</p>
                    <p>Service Type: Drain</p>
                    <p>Service: P-trapes</p>
                    <p>Time: 3:00 - 4:00 pm</p>
                    <p>Service Length: 60 mins</p>
                    <p>Customer Name: John</p>
                </div>
                <img class="imgV" src="images/videoSymbol.png" alt="videoDisplay">
            </div>

            <!-- Add more appointment items here as needed -->
        </div>
        <a th:href="@{/technicianHome}">
            <button type="button">Back</button>
        </a>
    </main>
</section>
</body>
</html>
