<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-
         KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <style>
        .pre-scrollable {
            height: 500px;
            overflow-y: scroll;
        }

        h1 {
            text-align: center;
        }

        .login-body{
            text-align: center;
        }
    </style>
</head>
<body>
<script th:inline="javascript"> var u = [[${session.a}]];
if (u == 1) {
    alert('One record added');
} </script>
<script th:inline="javascript"> var u = [[${session.e}]];
if (u == 2) {
    alert('One record edited');
}
</script>
<div layout:fragment="content">
    <h1>Main Tomoya</h1>
    <div class="container mt-2 pre-scrollable">
        <div class="card-header"></div>
        <div class="login-body">
            <br/><br/>

            <a th:href="@{/login}">Go to Login</a><br/><br/>
            <a th:href="@{/createaccount}">Go to Create account</a><br/><br/>
            <a th:href="@{/technicianinfo}">Go to see Tech Info</a><br/><br/>
        </div>
    </div>
</div>
</body>
</html>