<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/technician/history.css}"/>
    <title>Log in</title>
</head>
<body>
<header>
    <div class="logo">
        <img id="img1" src="images/logo.jpg" alt="Logo">
    </div>
    <h1>Log in</h1>
</header>
<div class="contents">
    <div class="errorMessagePanel">
        <p th:text="${errorMessage}"></p>
    </div>
    <div class="inputAccountInfoPanel">
        <form method="GET" th:action="@{/loginUser}">
            <div class="commonInputArea">
                <table class="tblInput">
                    <tr>
                        <td class="tdInputTitle">User Name</td>
                        <td class="tdInput"><input type="email" class="inputInfo" name="inUserName" required></td>
                    </tr>
                    <tr>
                        <td class="tdInputTitle">Password</td>
                        <td class="tdInput"><input type="password" class="inputInfo" name="inPassword" required></td>
                    </tr>
                </table>
            </div>
            <div class="createButtonPanel">
                <button type="submit" class="btnCreateAccount">Login</button>
            </div>
        </form>
        <div class="loginAnckerPanel">
            <a th:href="@{/user/register}">Create Account</a>
        </div>
    </div>
</div>
</body>
</html>