<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="technicianLayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/user/register.css}"/>
    <title>Log in</title>
</head>
<body>
<section layout:fragment="content">
    <main>
        <div class="contents">
            <div class="errorMessagePanel">
                <p th:text="${errorMessage}"></p>
            </div>
            <div class="inputAccountInfoPanel">
                <form method="GET" th:action="@{/loginUser}">
                    <div class="commonInputArea">
                        <table class="tblInput">
                            <tr>
                                <td class="tdInputTitle">User Name</td>
                                <td class="tdInput"><input type="email" class="inputInfo" name="inUserName" required></td>
                            </tr>
                            <tr>
                                <td class="tdInputTitle">Password</td>
                                <td class="tdInput"><input type="password" class="inputInfo" name="inPassword" required></td>
                            </tr>
                        </table>
                    </div>
                    <div class="createButtonPanel">
                        <button type="submit" class="btnCreateAccount">Login</button>
                    </div>
                </form>
                <div class="loginAnckerPanel">
                    <a th:href="@{/user/register}">Create Account</a>
                </div>
            </div>
        </div>
    </main>
</section>
</body>
</html>