<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="userLayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/user/register.css}"/>
    <title>Register account</title>
</head>
<body>
<section layout:fragment="content">
    <main>
        <div class="contents">
            <div class="errorMessagePanel">
                <p th:text="${errorMessage}"></p>
            </div>
            <div class="inputAccountInfoPanel">
                <form method="POST" th:action="@{/createAccount}">
                    <div class="typeAccountPanel">
                        <input type="hidden" id="hidUserType" th:value="${userType}">
                        <div class="radioItem">
                            <input type="radio" id="radClient" class="radUsertype" name="userType" value="client" checked="true" onchange="changeInputInfo()">
                            <label for="radClient" class="lblRadType">Client</label>
                        </div>
                        <div class="radioItem">
                            <input type="radio" id="radTechnician" class="radUsertype" name="userType" value="technician" onchange="changeInputInfo()">
                            <label for="radTechnician" class="lblRadType">Technician</label>
                        </div>
                    </div>
                    <div class="commonInputArea">
                        <table class="tblInput">
                            <tr>
                                <td class="tdInputTitle">User Name</td>
                                <td class="tdInput"><input type="email" class="inputInfo" name="inUserName" th:value="${userName}" required></td>
                            </tr>
                            <tr>
                                <td class="tdInputTitle">Full Name</td>
                                <td class="tdInput"><input type="text" class="inputInfo" name="inFullName" th:value="${fullName}" required></td>
                            </tr>
                            <tr>
                                <td class="tdInputTitle">Password</td>
                                <td class="tdInput"><input type="password" class="inputInfo" name="inPassword" th:value="${password}" required></td>
                            </tr>
                            <tr id="trForTechnicianDes">
                                <td class="tdInputTitle">Job Description</td>
                                <td class="tdInput"><textarea class="inputInfo inputLong" id="idJobDescription" name="inJobDescription" rows="5" th:text="${jobDescription}"></textarea></td>
                            </tr>
                            <tr id="trForTechnicianService">
                                <td class="tdInputTitle">Service Field</td>
                                <td class="tdInput">
                                    <input type="hidden" id="hidServiceField" th:value="${serviceField}">
                                    <select name="selServiceField" id="selServiceField" class="selServiceField">
                                        <option value="" disabled selected hidden>Service Field</option>
                                        <option th:each="serviceField:${serviceFieldList}" th:value="${serviceField.id}" th:text="${serviceField.field}"></option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="createButtonPanel">
                        <button type="submit" class="btnCreateAccount">Create account</button>
                    </div>
                </form>
                <div class="loginAnckerPanel">
                    <a th:href="@{/login}">Login</a>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="/register.js"></script>
</section>
</body>
</html>