<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/main.css}"/>
    <title>Main Page</title>
</head>

<body>
<header>
    <div class="logo">
        <img id="img1" src="images/logo.jpg" alt="Logo">
    </div>
    <h1>Technician Profile</h1>
</header>
<main>
    <ul class="image-list">
        <li>
            <a th:href="@{/technicianProfile.html}">
                <img id="img2" src="images/technician_profile.png" alt="Technician Profile">
                <p>Technician Profile</p>
            </a>
        </li>
        <li>
            <a th:href="@{/setTimeRate.html}">
                <img id="img3" src="images/SetDR.jpg" alt="Setting Time Rate">
                <p>Setting Time Rate</p>
            </a>
        </li>
        <li>
            <a th:href="@{/viewAppointment.html}">
                <img id="img4" src="images/viewAppointment.jpg" alt="View Appointment">
                <p>View Appointment</p>
            </a>
        </li>
        <li>
            <a th:href="@{/accountBalance.html}">
                <img id="img5" src="images/account.png" alt="Account Balance">
                <p>Account Balance</p>
            </a>
        </li>
        <li>
            <a th:href="@{/history.html}">
                <img id="img6" src="images/History.jpg" alt="History">
                <p>History</p>
            </a>
        </li>
    </ul>
</main>
</body>

</html>
