<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/setTR.css}"/>
    <title>SettingTimeRate</title>
</head>

<body>
<header>
    <div class="logo">
        <img id="img1" src="images/logo.jpg" alt="Logo">
    </div>
    <h1>Setting Time and Rate</h1>
</header>
<main>
    <div class="container">
        <h2>Select Available Date & Time</h2>
        <form>
            <div class="form-group">
                <label for="date">Select Date:</label>
                <input type="date" id="date" name="date" required>
            </div>
            <br>
            <div class="form-group">
                <label for="time">Select Time:</label>
                <input type="time" id="time" name="time" required>
            </div>
            <br>
            <h2>Service Charge</h2>
            <div class="form-group">
                <label for="serviceType">Select Type of Service:</label>
                <select id="serviceType" name="serviceType">
                    <option value="type1">Type 1</option>
                    <option value="type2">Type 2</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="service">Select Service:</label>
                <select id="service" name="service">
                    <option value="service1">Service 1</option>
                    <option value="service2">Service 2</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="duration">Select Duration:</label>
                <select id="duration" name="duration">
                    <option value="15">15 mins</option>
                    <option value="30">30 mins</option>
                    <option value="45">45 mins</option>
                    <option value="60">60 mins</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="rate">Rate:</label>
                <input type="number" id="rate" name="rate" required>
                <span class="currency-symbol">CAD</span>
            </div>
            <br><br><br>
            <a th:href="@{/index}">
                <button type="button">Back</button></a>
            <button type="submit">Save</button>
        </form>
    </div>
</main>
</body>

</html>